---
// Props que recibe la card
const { nombre, cargo, foto, redes, estilos } = Astro.props;

// Estilos por defecto
const {
  fondo = 'bg-purple-100',
  texto = 'text-gray-500',
  sombra = 'shadow-md hover:shadow-xl',
} = estilos;
---

<!-- Componente Card visual, individual para cada persona:
  - padding interno `p-6` y texto centrado
  - `shadow-md` y `hover:shadow-xl`: sombra suave al inicio, más intensa al hacer hover
  - `transition-transform` + `hover:-translate-y-1`: anima la card al hacer hover, se mueve hacia arriba
  - `max-w-xs w-full`: ancho máximo limitado, pero adaptable, para mantener consistencia visual 
-->
<div
  class={`rounded-xl p-6 text-center transition-transform hover:-translate-y-1 ${sombra} ${fondo} max-w-xs w-full`}
>
  {/* Foto del organizador, redondeada y centrada */}
  <img
    src={foto}
    alt={nombre}
    class="w-24 h-24 mx-auto rounded-full mb-4 object-cover"
  />

  {/* Nombre del organizador y cargo del organizador en gris*/}
  <h3 class="text-lg font-semibold">{nombre}</h3>

  {
    /* La clase whitespace-pre-line de Tailwind le dice al navegador que 
	los saltos de línea \n se deben interpretar como saltos reales (<br />) */
  }
  <p class={`${texto} mb-2 whitespace-pre-line`}>{cargo}</p>

  {
    /* Enlaces a redes sociales, las que corresponda
  	Iconos de las RRSS con hover animado */
  }
  <div class="flex justify-center space-x-4 mt-2">
    {
      redes?.twitter && (
        <a
          href={redes.twitter}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Twitter de ${nombre}`}
          class="transform transition-transform duration-200 hover:scale-125"
        >
          <img
            src="/icons/twitter-black.png"
            alt="Twitter"
            class="w-5 h-5"
          />
        </a>
      )
    }
    {
      redes?.linkedin && (
        <a
          href={redes.linkedin}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`LinkedIn de ${nombre}`}
          class="transform transition-transform duration-200 hover:scale-125"
        >
          <img src="/icons/linkedin.png" alt="LinkedIn" class="w-5 h-5" />
        </a>
      )
    }
  </div>
</div>
