---
import Ponente from "./Ponente.astro";
const ponentes = [
  {
    nombre: 'Dramas',
    cargo: 'Dramática de la casa',
    foto: '/ponentes/planta1.jpg',
    redes: {
      twitter: 'https://twitter.com/anagarcia',
      linkedin: 'https://linkedin.com/in/anagarcia',
    },
  },
  {
    nombre: 'Antonia',
    cargo: 'CEO de Supervivencia',
    foto: '/ponentes/planta1.jpg',
    redes: {
      linkedin: 'https://linkedin.com/in/anagarcia',
    },
  },
  {
    nombre: 'Paca',
    cargo: 'Desarrolladora en mi balcón',
    foto: '/ponentes/planta2.jpg',
    redes: {
      twitter: 'https://twitter.com/anagarcia',
    },
  },
  {
    nombre: 'Kofi',
    cargo: 'Freeloader',
    foto: '/ponentes/dog.jpg',
    redes: {
      twitter: 'https://twitter.com/anagarcia',
      linkedin: 'https://linkedin.com/in/anagarcia',
    },
  },
  {
    nombre: 'Sinra',
    cargo: 'Freeloader',
    foto: '/ponentes/dog.jpg',
    redes: {
      twitter: 'https://twitter.com/anagarcia',
    },
  },
  {
    nombre: 'Mooncake',
    cargo: 'Trotamundos',
    foto: '/ponentes/cat.jpg',
    redes: {
      linkedin: 'https://linkedin.com/in/anagarcia',
    },
  },
];

const estilosPonentes = {
  sombra: 'shadow-lg hover:shadow-2xl',
};
---

<section id="ponentes" class="py-12 scroll-mt-24">
  <h2 class="text-4xl dark:text-sky-100 font-bold font-mono
    text-center mb-8">
    Ponentes
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    {
      ponentes.map((pon) => (
        <Ponente
          nombre={pon.nombre}
          cargo={pon.cargo}
          foto={pon.foto}
          redes={pon.redes}
          estilos={estilosPonentes}
        />
      ))
    }
  </div>
</section>
